@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* font, main */
* {
    font-family: 'Noto Sans KR';
}
.Head {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Main {
    margin-left: 350px;
    margin-right: 350px;
}

/* search */
.Descript {
    height: 100px;
}

#WriteButton {
    display: block;
    width: 130px;
    height: 50px;
    background-color: #ff9696;
    border: none;
    float: right;
    margin-right: 35px;
    font-size: 20px;
}

.ItemInfo {
    display: inline-block;
    margin-left: 50px;
}

#ItemImage {
    width: 209px;
    height: 209px;
}

#ItemTitle {
    font-size: 22px;
}

#ItemPrice {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 60px;
}